/* CSS for the weather app website! SOOOO BEAUTIFUL TOO! */

/* Root reset styles ------------------------------------------------------- */
/* colors */
:root {
    --main_bg: #000000;             /* main site background*/
    --text_main: #f0eff4;           /* main text color */
    --button_bg: #832161;           /* search button background */
    --card_bg: #3d2645;             /* background of weather cards */
    --temp_text: #a5d0ec;           /* temperature text color */
    --country_bg: #da4167;          /* background of country tag */
    --text_footer: #af7fac;         /* footer text color */
    --heart_red: #c3112d;           /* color of heart icon in footer */
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

button {
    cursor: pointer;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


button,
input {
    border: none;
    background: none;
    outline: none;
    color: inherit
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

body {
    font: 1rem/1.3 "Barlow", sans-serif;
    background: var(--main_bg);
    color: var(--text_main);
    padding: 25px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.containerF {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

/* First section - contains header  ---------------------------------------- */
.top-header {
    color: var(--text_main);
    text-align: left;
}

.greeting {
    font-weight: bold;
    font-size: 2.75rem;
    letter-spacing: 0.02em;
    padding: 0 0 10px 0;
}

.purpose {
    font-weight: lighter;
    font-size: 1.5rem;
    letter-spacing: 0.02em;
    padding: 0 0 7px 0;
    text-align: center;
}

.needAPI {
    font-weight: lighter;
    color: aquamarine;
    font-size: .90rem;
    letter-spacing: 0.02em;
    padding: 0 0 20px 0;
    text-align: center;
}

.top-header form {
    text-align: center;
}

.top-header form input {
    font-size: 1.5rem;
    height: 30px;
    padding: 5px 5px 10px;
    border-bottom: .5px solid;
    width: 40%;
}

.top-header form input::placeholder {
    color: rgb(168, 167, 167);
    font-family: "Barlow", sans-serif;
    font-size: 1rem;
}

.top-header form button {
    font-family: "Barlow", sans-serif;
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding: 7px 7px;
    margin-left: 20px;
    border-radius: 5px;
    background: var(--button_bg);
    transition: background 0.3s ease-in-out;
}

.top-header form button:hover {
    background: var(--card_bg);
}

.top-header form .msg {
    font-size: 1rem;
    color: lightcoral;
}

/* Second section - contains weather cards created with AJAX js ------------ */
.ajax-section {
    margin: 50px 0 20px;
}

.ajax-section .cities {
    display: grid;
    grid-gap: 30px 20px;
    grid-template-columns: repeat(4, 1fr);
}

.ajax-section .city {
    position: relative;
    padding: 40px 10%;
    border-radius: 0 50px 0px 50px;
    background: var(--card_bg);
    color: var(--text_main);
}

.ajax-section .city::after {
    content: '';
    width: 80%;
    height: 50px;
    position: absolute;
    bottom: -10px;
    left: 5%;
    z-index: -1;
    opacity: 0.3;
    border-radius: 20px;
}

.ajax-section figcaption {
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.ajax-section .city-temp {
    font-family: "Barlow", sans-serif;
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10px;
    color: var(--temp_text);
}

.ajax-section .city sup {
    font-family: "Barlow", sans-serif;
    font-size: 0.5em;
}

.ajax-section .city-name sup {
    padding: 0.2em 0.6em;
    border-radius: 30px;
    color: var(--text_main);
    background: var(--country_bg);
}

.ajax-section .city-icon {
    margin: auto;
    display: block;
    width: 120px;
    height: 110px;
}

.ajax-section .city-sunrise {
    margin-top: 20px;
    font-size: .75em;
    position: relative;
    color: var(--text_main)
}

.ajax-section .city-sunset {
    margin-top: 5px;
    font-size: .75em; 
    position: relative;
    color: var(--text_main)
}

/* Screen size ------------------------------------------------------------- */

@media screen and (max-width: 1000px) {
    body {
        padding: 30px;
    }

    .ajax-section .cities {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .greeting,
    .ajax-section .city-temp {
        font-size: 3rem;
    }

    .ajax-section {
        margin-top: 20px;
    }

    .top-header form {
        flex-direction: column;
        align-items: flex-start;
    }

    .top-header form input,
    .top-header form button {
        width: 100%;
    }

    .top-header form button {
        margin: 20px 0 0 0;
    }

    .top-header form .msg {
        position: static;
        max-width: none;
        min-height: 0;
        margin-top: 10px;
    }

    .top-header .cities {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    body {
        padding: 15px;
    }
    
    .container .cities {
        padding: 25px;
    }

    .ajax-section .cities {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Footer ------------------------------------------------------------------ */
.page-footer {
    text-align: right;
    font-family: "Barlow", sans-serif;
    font-size: 1rem;
    color: var(--text_footer)
}

.page-footer span {
    color: var(--heart_red)
}
